* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

:root{
    --maincolor: #7b5244;
    --subcolor: #333;
}

.container{
    width: 80%;
    margin: auto;
}

.section-padding{
    padding: 40px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-title{
    font-size: 30px;
    margin-bottom: 10px;
}

.section-header .line{
    display: block;
    width: 100px;
    height: 2px;
    margin: auto;
    background-color: var(--maincolor);
    transition: width 0.5s;
}

.section-header:hover .line{
    width: 150px;
}

a {
    text-decoration: none;
}

.list-unstyled{
    list-style: none;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

/*Header*/
header{
    padding: 30px 0;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content img{
    flex:1;
    max-width: 170px;
}

.header-content  > i{
    display: none;
}

.header-content .navbar {
    flex: 3;
    text-align: center;
}
.header-content .login {
    flex:1;
    text-align: right;
}

.header-content ul li{
    display: inline-block;
}

.header-content ul li,
.header-content ul li a{
    color: var(--subcolor);
}

.header-content nav ul li .link-item {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    position: relative;
}

.header-content .login ul li {
    padding: 10px;
}

.header-content .login ul li:last-child i{
    position: relative;
}

.header-content .login ul li:last-child i::after{
    position: absolute;
    content: "0";
    color: #ffffff;
    background-color: var(--maincolor);
    bottom: 0px;
    right: -11px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
}

@media(max-width: 992px){
    header .header-content{
        display: block;
        position: relative;
    }
    .header-content .navbar.show,
    .header-content .login.show {
        display: block;
    }
    
    .header-content .navbar{
        display: none;
    }

    .header-content .login{
        display: none;
    }


    .header-content > i {
        display: inline-block;
        font-size: 40px;
        padding: 5px;
        position: absolute;
        right: 0;
    }

    .header-content ul li{
        display: block;
    }

    .login .list-unstyled {
        display: flex;
        justify-content: center;
    }
}

/*Dropdown*/
.dropdown{
    position: relative;
}

.dropdown-menue{
    position: absolute;
    width: 450px;
    border: 1px solid var(--maincolor);
    padding: 15px;
    margin-top: 5px;
    background-color: #ffffff;
    top: 71px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropdown:hover .dropdown-menue{
    opacity: 1;
    visibility: visible;
}

.dropdown-menue ul{
    display: table-cell;
    text-align: left;
}

.dropdown-menue ul li:first-child a {
    display: block;
    border-bottom: 1px dotted var(--maincolor);
    margin-bottom: 10px;
}

.dropdown-menue ul li{
    line-height: 1.7;
}

/*sliderSection*/
section.slider img{
    width: 100%;
}

/*cateogry*/
.cateogry-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.cateogry-item img{
    width: 100%;
    margin-bottom: 25px;
}

.cateogry-item {
    position: relative;
    margin-bottom: 20px;
}

.cateogry-item-subtitle{
    font-weight: 600;
    color: gray;
}

.cateogry-item .icon{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.cateogry-item:hover .icon{
    visibility: visible;
    opacity: 1;
}

/*discount*/

.discount{
    justify-items: center;
    margin: 30px 0;
    display: grid;
    flex-wrap: wrap;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr
}

.discount-item > img {
    display: block;
    width: 100%;
    height: 326px;
    transition: transform 0.5s;
}

.discount-items {
    display: flex;
    gap: 10px;
}

.discount-desc{
    background-color: #f7f3ef;
    padding: 20px;
    position: relative;
}

.discount-desc .top {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.discount-desc .top + p {
    line-height: 1.7;
    margin-bottom: 20px;
}

.discount-desc .top  .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    color: var(--maincolor);
}

.discount-desc .bolletes {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.discount-desc .bolletes span {
    display: inline-block;
    background-color: var(--maincolor);
    height: 2px;
    width: 50px;
    margin-left: 10px;
}

.discount-item {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.discount-item-info {
    position: absolute;
    top: 20px;
    left: 15px;
}

.discount-item-info h3 {
    font-weight: normal;
    color: var(--maincolor);
}

.discount-item-info h2 {
    font-size: 20px;
}

.discount-item:hover img,
.discount-item:hover img{
    transform: scale(1.1);
}

@media(max-width: 1200px){
    .discount-desc{
        grid-column: 1 / 3;
    }

    .discount-items{
        grid-column: 1 / 3;
    }
}

@media(max-width: 576px){
    .discount-items{
        flex-direction: column;
        align-items: center;
    }

    .discount-item{
        width: 80%;
    }

    .discount-item > img {
        height: auto;
    }
}

/*sprites*/
.sprites{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 55px;

}

.sprite-item {
    min-width: 120px;
    text-align: center;
    margin: 10px;
}

.sprite-item:last-child{
    border: none;
}

.sprite-icon {
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}

.sprite-icon-1 {
    background-position: center 5px;
    transition: all 0.5s;
}

.sprite-icon-1:hover {
    background-position: center -86px;
}

.sprite-icon-2 {
    background-position: center -180px;
    transition: all 0.5s;
}

.sprite-icon-2:hover {
    background-position: center -273px;
}

.sprite-icon-3 {
    background-position: center -366px;
    transition: all 0.5s;
}

.sprite-icon-3:hover {
    background-position: center -455px;
}


.sprite-icon-4 {
    background-position: center -549px;
    transition: all 0.5s;
}

.sprite-icon-4:hover {
    background-position: center -639px;
}


.sprite-icon-5 {
    background-position: center -734px;
    transition: all 0.5s;
}

.sprite-icon-5:hover {
    background-position: center -826px;
}

.sprite-info h3 {
    font-size: 17px;
}

.sprite-info span {
    color: gray;
    font-size: 13px;
}


/*products*/


.list-products {
    display: flex;
    justify-content: center;
}

.list-products li {
    margin: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    color: var(--maincolor);
}

.product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
    margin: 30px 0;
}

.product-item{
    box-shadow: 5px 5px 15px #888;
    padding: 20px;
}

.product-img{
    position: relative;
}

.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.2s;
    opacity: 0.8;
}

.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.product-overlay ul li {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-color: var(--maincolor);
    display: inline-block;
    text-align: center;
}

.product-overlay ul li i{
    line-height: 40px;
    color: #ffffff;
}

.product-item:hover  .product-overlay{
    transform: scaleX(1);
}

.product-info span {
    display: block;
    margin: 10px 0;
}

@media(max-width: 992px){
    .product-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 576px){
    .product-items{
        grid-template-columns: repeat(1, 1fr);
    }

    .product-item{
        width: 75%;
    }

    .list-products li {
        margin: 10px;
    }
}

/*footer*/
footer {
    background: black;
    padding: 20px;
}

.footer-items{
    display: flex;
    flex-wrap: wrap;
    color: #888;
}

.footer-item{
    padding: 10px;
    min-width: 200px;
}

.footer-item h2{
    color: #ffffff;
}

.footer-item:first-child .footer-img img{
    width: 40%;
}

.footer-item:first-child p {
    margin: 10px 0;
}

.footer-item:first-child{
    flex: 2;
}

.footer-item:not(:first-child){
    flex: 1;
}

.footer-download{
    display: flex;
    flex-wrap: wrap;
}

.footer-download img {
    width: 40%;
}

.footer input {
    width: 100%;
    display: block;
    height: 30px;
    padding: 10px;
    border: 0;
    background-color: inherit;
    border-bottom: 1px solid #888;
    outline: 0;
}
.footer form {
    position: relative;
}

.footer button {
    position: absolute;
    background-image: url('../images/btn.png');
    background-color: inherit;
    height: 30px;
    border: 0;
    background-size: cover;
    width: 30px;
    right: 0;
    top: 0;
}

.footer button:hover{
    background-position:  center -70px;
}

.social-icon {
    text-align: center;
    margin-top: 15px;
}

.social-icon i {
    padding: 7px;
}
